*{
    text-align: center ;
}
h2{
    color: chocolate;
}
.ilk{
    color: aqua;
}

.red{
    color: red;
}
a{
    text-decoration: none;
}

.b{
    color: red;
}

.ana{
    border: 2px solid blueviolet;
}
.kutu{
    background-color: darkred;
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 20px 5px black;
}
.kutu2{
    background-color: aquamarine;
    width: 150px;
    height: 150px;
    border: 3px solid blue;
    border-radius: 10px;
}
