body{
    margin: 0px;
    padding: 0px;
}
.kutu{
    width: 100px;
    height: 100px;
}

.kutu1{
    background-color: blueviolet;
}
.kut2{
background-color: cornflowerblue;
flex: 2;
}
.kutu3{
    background-color: brown;
    flex: 3;
}
.kutu4{
    background-color: plum;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}